.parent {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  padding: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1 1 300px; /*  Stretching: */
  flex: 0 1 300px; /*  No stretching: */
  margin: 5px;
}
.green {
  background-color: green;
}
